body {
  min-height: 100vh;
  background: linear-gradient(135deg, #23395d 0%, #1a2233 100%);
  color: #fff;
  font-family: 'Segoe UI', 'Arial', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
